<div class="albums-table__header-container">
  <h1 class="albums-table__header">Albums</h1>
</div>
<% @albums_by_category.each do |category| %>
  <div class="albums-table__container">
    <div class="albums-table__category-header-container">
      <div class="albums-table__category-name">
        <h2 class="albums-table__category-header"><%= category.name %></h2>
        <div class="expand-caret" data-toggle="collapse" data-target="#<%= category.name %>">
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>
      </div>
      <% if category.album_uploads.any? %>
        <p>Last updated <%= category.album_uploads.last.created_at.strftime("%m/%d/%Y at %H:%M") %></p>
      <% end %>
    </div>
    <div class="albums-table__table-container collapse", id="<%= category.name %>">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Order</th>
            <th scope="col">Title</th>
            <th scope="col">Artist</th>
            <th scope="col">Visible</th>
          </tr>
        </thead>
        <tbody>
          <% category.albums.each do |album| %>
            <tr>
              <td scope="row"><%= album.position%></td>
              <td><%= album.title %></td>
              <td><%= album.artist %></td>
              <td><%= album.current ? raw("&#9733;") : "" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
  
