
<div class="login login__background">
  <div class="login__container">
    <% if flash[:notice] %>
      <p class='login__flash'><%= flash[:notice] %></p>
    <% end %>
    <h1>Admin Login</h1>
    <%= form_tag '/admin/login', class: "login__form" do %>
      <div class="form-group">
        <%= label_tag :email %>
        <%= text_field_tag :email %>
      </div>
      <div class="form-group">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div class="form-group">
        <%= submit_tag "Login"%>
      </div>
    <% end %>
  </div>
</div>
