
<div class="login login__background">
  <div class="login__container">
    <% if flash[:notice] %>
      <p class='login__flash'><%= flash[:notice] %></p>
    <% end %>
    <h1>Admin Login</h1>
    <%= form_tag '/admin/login', class: "login__form" do %>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <%= submit_tag "Login"%>
    <% end %>
  </div>
</div>
