<div class='upload-category__container'>
  <%= form_with url: 'admin' do |form| %>
    <div class="form-group">
      <h3>Upload Albums</h3>
      <div class="upload-category__radio-container">
        <% categories.each do |category| %>
          <div class="form-check">
            <%= form.radio_button :category, category.name, class: "form-check-input" %>
            <%= form.label "#{category.name} #{"(destructive)" unless category.rotating}", class: "form-check-label", for: "category_#{category.name}" %>
          </div>
        <% end %>
      </div>
    </div>

    <%= form.label "Upload category file in .csv format"%>
    <%= form.file_field :file, accept: 'text/csv', class: 'upload-category__file-field'%>
    <%= form.submit 'Upload' %>
  <% end %>
</div>
