<div class='upload-category__container'>
  <%= form_tag 'admin', multipart: true do %>
    <%= label_tag 'Category'%>
    <div class="upload-category__radio-container">
      <% categories.each do |category| %>
        <div class="form-check">
          <%= label_tag category.name, nil, class: "form-check-label" %>
          <%= radio_button_tag "category", category.name, class: "form-check-input" %>
        </div>
      <% end %>
    </div>

    <%= label_tag 'album file (.csv format)' %>
    <%= file_field_tag :file, accept: 'text/csv', class: 'upload-category__file-field'%>
    <%= submit_tag 'Upload' %>
  <% end %>
</div>
