<!DOCTYPE html>
<html>
  <head>
    <title>Catalytic Soundstream</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WKCQDTL');</script>
    <!-- End Google Tag Manager -->
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway|Material+Icons&display=swap' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'streaming' %>
    <%= javascript_include_tag 'https://connect.soundcloud.com/sdk/sdk-3.3.2.js' %>
    <%= favicon_link_tag asset_path 'favicon.png' %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKCQDTL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= yield %>
  </body>
</html>
