<!DOCTYPE html>
<html>
  <head>
    <title>CatalyticStreamingBackend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway|Material+Icons&display=swap' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'streaming' %>
    <%= javascript_include_tag 'https://connect.soundcloud.com/sdk/sdk-3.3.2.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
